.product-card.card{
    
}

.product-card .card-img-top {
    max-height: 120px;
    width: 100%;
    object-fit: contain;
}
.shop-card {
    background-color: #fff;
    padding: 3px;
}
.shop-card .shop-card-image {
    text-align: center;
    position: relative;
    padding-top: .5rem;
}
.shop-card .shop-card-image a {
    display: block;
}
.shop-card .shop-card-image img {
    width: 70%;
    height: auto;
}
.shop-card .shop-card-sale {
    color: #fff;
    background-color: #E40046;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
}

.shop-card .shop-card-wishlist {
    position: absolute;
    padding: 2px 7px;
    background-color: transparent;
    color: #e5e5e5 !important;
    font-size: 20px !important;
    left: auto;
    cursor: pointer;
    top: 3px;
    right: 0;
}

.shop-card .shop-card-discount {
    position: absolute;
    bottom: -10px;
    right: 5px;
    font-size: 12px;
    background-color: #feefde;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #950af1;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    box-sizing: content-box;
}

.shop-card .shop-card-content {
    /* text-align: center; */
    padding: 15px 5px 5px;
    margin: 0 auto;
}

.shop-card .shop-card-vendor {
    color: #878787;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}
.shop-card .shop-card-title {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin: 5px 0 5px;
}

.shop-card .shop-card-ratings-container {
    margin-bottom: 5px;
    font-size: 12px;
    position: relative;
}

.shop-card .shop-card-features-container {
    margin-top: 2px;
    margin-bottom: 10px;
}

.shop-card .shop-card-price {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    color: #212121;
}
.shop-card .shop-card-discount-price {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 3px;
    display: inline-block;
    padding-left: 5px;
}

.shop-btn-primary {
    color: #950af1;
    font-size: 13px;
    background-color: transparent;
    font-weight: 600;
    border-color: #950af1;
    border-radius: 0;
}
.shop-btn-primary:hover {
    color: #6b09ac;
    border-color: #6b09ac;
    font-weight: 600;
}

.shop-card .shop-card-product-features {
    font-size: 18px;
    color: #950af1;
    padding-right: 25px;
}

.shop-card .shop-card-ratings-container > span {
    margin-right: 5px;
}
.full-star-icon, .half-star-icon {
    color: #950af1
}


@media (min-width: 767.99px) and (max-width: 991.98px) {
    .shop-card .shop-card-discount, .shop-card .shop-card-sale {
        font-size: 10px;
        font-weight: 600;
    }
}
